--only-binary=:all:
pandas~=2.2.3
numpy~=2.2.4
streamlit~=1.43.2
pypdf~=5.4.0
pdf2image~=1.17.0
pillow~=11.1.0
pytesseract~=0.3.13
websocket-client~=1.8.0
requests~=2.32.3
neo4j~=5.28.1
python-magic~=0.4.27
python-magic-bin~=0.4.14